


<!-- userform.html -->

{% extends "base.html" %}

{% block content %}
<form action="/submit/" method="post">
    {% csrf_token %}
    <h2>User Registration</h2>
    
    {{ form }}

    <div class="form-group">
        <input type="submit" value="Submit">
    </div>    

</form>

{% if form.is_bound %}
    {% if form.errors %}
        <p>Please correct the following errors:</p>
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ field|title }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

{% endblock %}
