{% extends "base.html" %}

{% block content %}

<!-- Your content goes here -->

<marquee behavior="" direction="" style="background-color: antiquewhite; color: black;" onmouseover="stop()" onmouseout="start()">
    <span id="ans" style="display: flex;"></span>
    <script>
        var ans = document.getElementById("ans");
        var c = 1;
        {% for i in headline %}
            ans.innerHTML += c + ") " + `<a href="/newsdetail/{{i.news_slug}}" style="text-decoration: none; color:black;">{{ i.headline | safe }}</a>&nbsp; &nbsp;`;
            c += 1;
        {% endfor %}
    </script>
</marquee>

<h1 id="heading" style="display: block; text-align: center;">Headlines</h1>

<div id="okk" style="margin-bottom: 30px;">
    <div class="col-12">
        {% for n in newsdata %}
        <div class="blocks">
            <h3>{{ n.headline | safe }}</h3>
            {{ n.dis | safe }}
        </div>
        {% endfor %}
    </div>
</div>

<nav aria-label="Page navigation example" style="background-color: rgb(255, 221, 176); padding: 20px; margin-bottom: 20px;">
    <ul class="pagination">
        {% if newsdata.has_previous %}
        <li class="page-item"><a class="page-link" href="/news/?page=1" tabindex="-1">First</a></li>
        <li class="page-item"><a class="page-link" href="/news/?page={{ newsdata.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% for n in totalpagelist %}
        <li class="page-item"><a class="page-link" href="/news/?page={{ n }}">{{ n }}</a></li>
        {% endfor %}

        {% if newsdata.has_next %}
        <li class="page-item"><a class="page-link" href="/news/?page={{ newsdata.next_page_number }}">Next</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="/news/?page={{ totalpage }}">Last</a></li>
    </ul>
</nav>

{% endblock %}
