{% extends "base.html" %}

{% block content %}

<!-- Your content goes here -->


<marquee behavior="" direction="" style="background-color: antiquewhite; color: black;" onmouseover="stop()" onmouseout="start()">
    <span id="ans" style="display: flex;"></span>
    <script>
        var ans = document.getElementById("ans");
        var c=1;
        {% for i in headline %}
            ans.innerHTML += c + ") " + `<a href="/newsdetail/{{i.news_slug}}" style="text-decoration: none; color:black;">{{ i.headline | safe }}</a>&nbsp; &nbsp;`;
            c+=1;
        {% endfor %}
    </script>
</marquee>
<h1 id="heading" style="display: block; text-align: center;">Headlines</h1>
<div id="okk">

    <div class="col-12">
    
        {% for n in newsdata %}
        <div class="blocks">
            <h3>{{ n.headline | safe }}</h3>
            {{ n.dis | safe }}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

