<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/static/form.css">
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="/static/service.css">
</head>
<body>
    <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    </nav>
    <div class="col-12">
        <h1>Services</h1>
        <div>
            <h2>Actionm</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet error, quidem quia placeat quas at harum in qui ea.
        </div>
        <div>
            <h2>Actionm</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet error, quidem quia placeat quas at harum in qui ea.
        </div>
        <div>
            <h2>Actionm</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet error, quidem quia placeat quas at harum in qui ea.
        </div>
        <div>
            <h2>Actionm</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet error, quidem quia placeat quas at harum in qui ea.
        </div>
        <div>
            <h2>Actionm</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet error, quidem quia placeat quas at harum in qui ea.
        </div>
        <div>
            <h2>Actionm</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet error, quidem quia placeat quas at harum in qui ea.
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>