<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <style>
        .highlighted {
            background-color: yellow;
            font-weight: bold;
        }
    </style>
    <link rel="stylesheet" href="/static/form.css">
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="/static/service.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div id="okk">
        <form action="{% url 'service_view' %}" method="GET">
            <input type="text" name="titlename" style="padding: 5px; border: 1px solid #ccc; border-radius: 3px; width: 40%; margin-top: 20px;">
            <button type="submit" style="padding: 5px 10px; background-color: #007bff; color: #fff; border: none; border-radius: 3px; cursor: pointer;">Search</button>
        </form>
        <div class="col-12">
            <h1>Services</h1>
            {% for n in servicedata %}
            <div>
                <span class="{{ n.icon }}"></span>
                <h2 name="titlename">
                    {% if search_term %}
                        {% with n.title as title %}
                            {% with search_term as term %}
                                {{ title|truncatechars_html:100|safe }}
                            {% endwith %}
                        {% endwith %}
                    {% else %}
                        {{ n.title }}
                    {% endif %}
                </h2>
                {{ n.dis | safe }}
            </div>
            {% empty %}
            No Data Found
            {% endfor %}
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>
